<?xml version="1.0"?>
<config>
    <modules>
        <MW_Ddate>
            <version>1.7.4</version>
        </MW_Ddate>
    </modules>
    <frontend>
        <routers>
            <mw_ddate>
                <use>standard</use>
                <args>
                    <module>MW_Ddate</module>
                    <frontName>ddate</frontName>
                </args>
            </mw_ddate>
        </routers>
        <layout>
            <updates>
                <ddate>
                    <file>ddate.xml</file>
                </ddate>
            </updates>
        </layout>
        <translate>
            <modules>
                <MW_Ddate>
                    <files>
                        <default>MW_Ddate.csv</default>
                    </files>
                </MW_Ddate>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <ddate_admin>
                <use>admin</use>
                <args>
                    <module>MW_Ddate</module>
                    <frontName>ddate_admin</frontName>
                </args>
            </ddate_admin>
            <adminhtml>
                <args>
                    <modules>
                        <MW_Ddate before="Mage_Adminhtml">MW_Ddate_Adminhtml</MW_Ddate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MW_Ddate>
                    <files>
                        <default>MW_Ddate.csv</default>
                    </files>
                </MW_Ddate>
            </modules>
        </translate>
        <menu>
            <ddate module="ddate">
                <title>Delivery Schedule</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ddate">
                        <title>Manage Delivery Schedule</title>
                        <sort_order>0</sort_order>
                        <action>ddate_admin/adminhtml_ddate</action>
                    </items>
                    <dtime>
                        <title>Manage Delivery Times</title>
                        <sort_order>10</sort_order>
                        <action>ddate_admin/adminhtml_dtime</action>
                    </dtime>
                    <ddate_config>
                        <title>Configuration</title>
                        <sort_order>11</sort_order>
                        <action>adminhtml/system_config/edit/section/ddate</action>
                    </ddate_config>
                </children>
            </ddate>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <MW_Ddate>
                            <title>Delivery date Module</title>
                            <sort_order>10</sort_order>
                        </MW_Ddate>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ddate translate="title" module="ddate">
                                            <title>Delivery Date Section</title>
                                        </ddate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ddate>
                    <file>ddate.xml</file>
                </ddate>
            </updates>
        </layout>
    </adminhtml> 
    <crontab>
        <jobs>
            <sendreminders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>reminder/sender::prepareMail</model>
                </run>
            </sendreminders>
        </jobs>
    </crontab>
    <global>
		<fieldsets>
            <sales_convert_quote_address>
                <mwfee_amount><to_order>*</to_order></mwfee_amount>
                <base_mwfee_amount><to_order>*</to_order></base_mwfee_amount>
            </sales_convert_quote_address>
            <sales_convert_quote>
                <fees_lable>
                    <to_order>*</to_order>
                </fees_lable>
            </sales_convert_quote>
        </fieldsets>
		<sales>
            <quote>
                <totals>
                    <mwcustomfee>
                        <class>ddate/total_address_mwcustomfee</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <before>tax</before>
                    </mwcustomfee>
                </totals>
            </quote>
        </sales>
		<events>
			<sales_order_item_cancel>
            	<observers>
                    <affiliate_cancel>
                        <type>singleton</type>
                        <class>MW_Ddate_Model_Observer</class>
                        <method>cancelOrderAfter</method>
                    </affiliate_cancel>
                </observers>
            </sales_order_item_cancel> 
			<controller_front_init_before>
            	<observers>
                    <tenmodule>
                        <type>singleton</type>
                        <class>MW_Ddate_Model_Observer</class>
                        <method>checkLicense</method>
                    </tenmodule>
                </observers>
			</controller_front_init_before>
            <!-- <controller_action_layout_generate_blocks_before>
                <observers>
                    <ddate_controller_action_layout_generate_blocks_before>
                        <type>singleton</type>
                        <class>ddate/observer</class>
                        <method>checkMissingLayout</method>
                    </ddate_controller_action_layout_generate_blocks_before>
                </observers>
            </controller_action_layout_generate_blocks_before> -->
		</events>
        <resources>
            <ddate_setup>
                <setup>
                    <module>MW_Ddate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ddate_setup>
            <ddate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ddate_write>
            <ddate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ddate_read>
        </resources>
        <rewrite>
            <mw_ddate_checkout_onepage>
                <from><![CDATA[#^/checkout/onepage/#]]>
                </from>
                <to>/ddate/checkout_onepage/</to>
            </mw_ddate_checkout_onepage>
			<mw_ddate_checkout_multishipping>
                <from><![CDATA[#^/checkout/multishipping/#]]>
                </from>
                <to>/ddate/checkout_multishipping/</to>
            </mw_ddate_checkout_multishipping>	
        </rewrite>
        <blocks>			
            <ddate>
                <class>MW_Ddate_Block</class>
            </ddate>
            <checkout>
                <rewrite>
                    <onepage_ddate>MW_Ddate_Block_Onepage_Ddate</onepage_ddate>
                    <onepage_progress>MW_Ddate_Block_Onepage_Progress</onepage_progress>
                    <onepage>MW_Ddate_Block_Onepage</onepage>
                    <onepage_coupon>MW_Ddate_Block_Onepage_Coupon</onepage_coupon>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_info>MW_Ddate_Block_Sales_Order_Info</order_info>
                    <order_print>MW_Ddate_Block_Sales_Order_Print</order_print>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>MW_Ddate_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ddate>
                <class>MW_Ddate_Helper</class>
            </ddate>
        </helpers>
        <models>			
            <ddate>
                <class>MW_Ddate_Model</class>
                <resourceModel>ddate_mysql4</resourceModel>
            </ddate>
            <ddate_mysql4>
                <class>MW_Ddate_Model_Mysql4</class>
                <entities>
                    <ddate>
                        <table>mwddate</table>
                    </ddate>
                    <ddate_store>
                        <table>mwddate_store</table>
                    </ddate_store>
                    <dtimetable>
                        <table>mwdtimetable</table>
                    </dtimetable>
                    <dtime>
                        <table>mwdtime</table>
                    </dtime>
                    <dtime_store>
                        <table>mwdtime_store</table>
                    </dtime_store>
                </entities>
            </ddate_mysql4>
            <checkout>
                <rewrite>
                    <type_onepage>MW_Ddate_Model_Type_Onepage</type_onepage>
                </rewrite>
				<rewrite>
                    <type_multishipping>MW_Ddate_Model_Type_Multishipping</type_multishipping>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <entity_setup>MW_Ddate_Model_Entity_Setup</entity_setup>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <!--Problem to OSC-->
                    <order>MW_Ddate_Model_Order</order>
                    <order_pdf_invoice>MW_Ddate_Model_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
            </sales>
            <sales_mysql4>
                <rewrite>
                    <order_grid_collection>MW_Ddate_Model_Mysql4_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_mysql4>
        </models>
    </global>
    <default>
        <ddate>
            <info>
                <formatdate>Ymd</formatdate>
                <weeks>4</weeks>
                <maximum_bookings>10</maximum_bookings>
                <first_column_header>Delivery Windows are Morning or Evening:</first_column_header>
                <disable_base_firststlot>0</disable_base_firststlot>
                <deliver_sundays>1</deliver_sundays>
                <deliver_saturdays>1</deliver_saturdays>
                <comment>1</comment>
                <description>Your Description!</description>
                <delay>0</delay>
            </info>
        </ddate>
    </default>
</config>