<?xml version="1.0"?>
<config>
    <modules>
        <MW_FreeGift>
            <version>3.5.2</version>
        </MW_FreeGift>
    </modules>
    <frontend>
        <routers>
            <freegift>
                <use>standard</use>
                <args>
                    <module>MW_FreeGift</module>
                    <frontName>freegift</frontName>
                </args>
            </freegift>
        </routers>
        <layout>
            <updates>
                <freegift>
                    <file>mw_freegift.xml</file>
                </freegift>
            </updates>
        </layout>
        <translate>
			<modules>
				<MW_FreeGift>
					<files>
						<default>MW_FreeGift.csv</default>
					</files>
				</MW_FreeGift>
			</modules>
		</translate>
    </frontend>
	<admin>
       <routers>
		<adminhtml>
			<args>
				<modules>
					<freegift before="Mage_Adminhtml">MW_FreeGift_Adminhtml</freegift>
				</modules>
			</args>
		</adminhtml>
       </routers>
   	</admin>
   	<adminhtml>
   		<layout>
			<updates>
				<freegift>
					<file>mw_freegift.xml</file>
				</freegift>
			</updates>
		</layout>
		<translate>
			<modules>
				<MW_FreeGift>
					<files>
						<default>MW_FreeGift.csv</default>
					</files>
				</MW_FreeGift>
			</modules>
		</translate>
   	</adminhtml>
    <global>

        <rewrite>
            <!-- If next time, any one read this code, pls dont try to change override all method, should use one by one -->
            <mw_freegift_cart_add>
                <from><![CDATA[#^/checkout/cart/add#]]></from>
                <to>/freegift/cart/add</to>
            </mw_freegift_cart_add>
            <mw_freegift_cart_gurlgift>
                <from><![CDATA[#^/checkout/cart/gurlgift#]]></from>
                <to>/freegift/cart/gurlgift</to>
            </mw_freegift_cart_gurlgift>
            <mw_freegift_cart_delete>
                <from><![CDATA[#^/checkout/cart/delete#]]></from>
                <to>/freegift/cart/delete</to>
            </mw_freegift_cart_delete>
            <mw_freegift_cart_goption>
                <from><![CDATA[#^/checkout/cart/goption#]]></from>
                <to>/freegift/cart/goption</to>
            </mw_freegift_cart_goption>
            <mw_freegift_cart_addg>
                <from><![CDATA[#^/checkout/cart/addg#]]></from>
                <to>/freegift/cart/addg</to>
            </mw_freegift_cart_addg>
            <mw_freegift_cart_gitems>
                <from><![CDATA[#^/checkout/cart/gitems#]]></from>
                <to>/freegift/cart/gitems</to>
            </mw_freegift_cart_gitems>
            <mw_freegift_cart_ggift>
                <from><![CDATA[#^/checkout/cart/ggift#]]></from>
                <to>/freegift/cart/ggift</to>
            </mw_freegift_cart_ggift>
            <mw_freegift_cart_udp_post>
                <from><![CDATA[#^/checkout/cart/post#]]></from>
                <to>/freegift/cart/updatePost</to>
            </mw_freegift_cart_udp_post>
            <mw_freegift_cart_promotion>
                <from><![CDATA[#^/checkout/cart/gpromotion#]]></from>
                <to>/freegift/cart/gpromotion</to>
            </mw_freegift_cart_promotion>
            <mw_freegift_cart_fggetproduct>
                <from><![CDATA[#^/checkout/cart/fggetproduct#]]></from>
                <to>/freegift/cart/getproduct</to>
            </mw_freegift_cart_fggetproduct>
            <mw_freegift_cart_configure>
                <from><![CDATA[#^/checkout/cart/fgconfigure#]]></from>
                <to>/freegift/cart/configure</to>
            </mw_freegift_cart_configure>
            <mw_freegift_cart_fgdelete>
                <from><![CDATA[#^/checkout/cart/fgdelete#]]></from>
                <to>/freegift/cart/delete</to>
            </mw_freegift_cart_fgdelete>
            <mw_freegift_order>
                <from><![CDATA[#^/sales/order/reorder#]]></from>
                <to>/freegift/order/reorder</to>
            </mw_freegift_order>
        </rewrite>

    	<events>
            <controller_action_layout_load_before>
                <observers>
                    <freegift_controller_action_layout_before>
                        <class>freegift/observer_layout</class>
                        <method>controllerLayoutBefore</method>
                    </freegift_controller_action_layout_before>
                </observers>
            </controller_action_layout_load_before>
    		<sales_quote_config_get_product_attributes>
    			<observers>
                    <freegift_sales_quote_config_get_product_attributes>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>addProductAttributes</method>
                    </freegift_sales_quote_config_get_product_attributes>
                </observers>
    		</sales_quote_config_get_product_attributes>
    		<catalog_product_type_prepare_full_options>
    			<observers>
                    <freegift_catalog_product_type_prepare_full_options>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>catalog_product_type_prepare_full_options</method>
                    </freegift_catalog_product_type_prepare_full_options>
                </observers>
    		</catalog_product_type_prepare_full_options>
        	<checkout_cart_product_add_after>
                <observers>
                    <freegift_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </freegift_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>

            <checkout_cart_add_product_complete>
                <observers>
                    <ob_freegift_checkout_cart_add_product_complete>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>checkout_cart_add_product_complete</method>
                    </ob_freegift_checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>

            <checkout_submit_all_after>
                <observers>
                    <ob_freegift_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>checkout_submit_all_after</method>
                    </ob_freegift_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
            <sales_quote_product_add_after>
                <observers>
                    <ob_freegift_sales_quote_product_add_after>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>sales_quote_product_add_after</method>
                    </ob_freegift_sales_quote_product_add_after>
                </observers>
            </sales_quote_product_add_after>
            <sales_order_place_after>
                <observers>
                    <ob_freegift_sales_order_place_after>
                        <class>freegift/observer</class>
                        <method>sales_order_afterPlace</method>
                    </ob_freegift_sales_order_place_after>
                </observers>
            </sales_order_place_after>

            <checkout_cart_save_after>
                <observers>
                    <freegift_checkout_cart_after_save>
                        <class>freegift/observer</class>
                        <method>itemCollectionProductsAfterLoad</method>
                    </freegift_checkout_cart_after_save>
                </observers>
            </checkout_cart_save_after>


            <catalog_product_get_final_price>
            	<observers>
                    <freegift_catalog_get_final_price>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>processFrontFinalPrice</method>
                    </freegift_catalog_get_final_price>
                </observers>
            </catalog_product_get_final_price>
            <freegift_quote_address_freegift_item>
            	<observers>
                    <ob_freegift_quote_address_freegift_item>
                        <class>freegift/observer</class>
                        <method>freegift_quote_address_freegift_item</method>
                    </ob_freegift_quote_address_freegift_item>
                </observers>
            </freegift_quote_address_freegift_item>
			<controller_action_postdispatch_checkout_cart_add>
				<observers>
					<ob_freegift_action_postdispatch_checkout_cart_add>
						<type>singleton</type>
						<class>freegift/observer</class>
						<method>addToCart</method>
					</ob_freegift_action_postdispatch_checkout_cart_add>
				</observers>
			</controller_action_postdispatch_checkout_cart_add>
			<controller_action_postdispatch_catalog_product_view>
                <observers>
                    <freegift>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>addOptions</method>
                    </freegift>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
			<controller_front_init_before>
            	<observers>
                    <freegift>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>checkLicense</method>
                    </freegift>
                </observers>
			</controller_front_init_before>
            <checkout_cart_empty_after>
                <observers>
                    <freegift>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>checkoutCartEmptyAfter</method>
                    </freegift>
                </observers>
            </checkout_cart_empty_after>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <belvg_jquery_prepare_layout_before>
                        <class>freegift/observer</class>
                        <method>prepareLayoutBefore</method>
                    </belvg_jquery_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <insert_label_freegift_category>
                        <class>freegift/observer</class>
                        <method>abstractToHtmlBefore</method>
                    </insert_label_freegift_category>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <models>
            <freegift>
                <class>MW_FreeGift_Model</class>
                <resourceModel>freegift_mysql4</resourceModel>
            </freegift>
            <adminhtml>
                <rewrite>
                    <sales_order_create>MW_FreeGift_Model_Adminhtml_Sales_Order_Create</sales_order_create>
                </rewrite>
            </adminhtml>
            <!--<salesrule>
                <rewrite>
                    <rule_condition_product_found>MW_FreeGift_Model_Rule_Condition_Product_Found</rule_condition_product_found>
                </rewrite>
            </salesrule>-->
            <sales>
                <rewrite>
                    <!-- Added by ANH TO -->
                    <order>MW_FreeGift_Model_Order</order>
                </rewrite>
            </sales>
            <freegift_mysql4>
                <class>MW_FreeGift_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>mw_freegift_rule</table>
                    </rule>
                    <salesrule>
                        <table>mw_freegift_salesrule</table>
                    </salesrule>
                    <product>
                        <table>mw_freegift_product</table>
                    </product>
                    <product_attribute>
                        <table>mw_freegift_product_attribute</table>
                    </product_attribute>
                    <coupon>
                        <table>mw_freegift_coupon</table>
                    </coupon>
                </entities>
            </freegift_mysql4>
        </models>
        <resources>
            <freegift_setup>
                <setup>
                    <module>MW_FreeGift</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freegift_setup>
            <freegift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freegift_write>
            <freegift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freegift_read>
        </resources>
        <blocks>
            <freegift>
                <class>MW_FreeGift_Block</class>
            </freegift>
            <catalog>
                <rewrite>
                    <product_view>MW_FreeGift_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order_item_renderer_default>MW_FreeGift_Block_Sales_Order_Item_Renderer_Default</order_item_renderer_default>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_items_column_name>MW_FreeGift_Block_Adminhtml_Sales_Items_Column_Name</sales_items_column_name>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <freegift>
                <class>MW_FreeGift_Helper</class>
            </freegift>
			<catalog>
				<rewrite>
					<product_configuration>MW_FreeGift_Helper_Product_Configuration</product_configuration>
				</rewrite>
			</catalog>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <freegift>
                        <class>freegift/quote_address_total_freegift</class>
                        <after>tax_subtotal,tax,subtotal</after>
                        <!--<before>tax_subtotal,shipping</before>-->
                    </freegift>
                </totals>
            </quote>
        </sales>
		<salesrule>
	            <coupon>
	                <separator>-</separator>
	                <charset>
	                    <alphanum>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</alphanum>
	                    <alpha>ABCDEFGHIJKLMNOPQRSTUVWXYZ</alpha>
	                    <num>0123456789</num>
	                </charset>
	            </coupon>
	        </salesrule>
    </global>
    <default>
		<freegift>
			<config>
				<enabled>1</enabled>
                <showfreegiftlabel>1</showfreegiftlabel>
                <showfreegiftpromotion>1</showfreegiftpromotion>
				<includejs>1</includejs>
			</config>
		</freegift>
		<sales>
			<totals_sort>
				<free_gift>50</free_gift>
				<show_reached_rules>0</show_reached_rules>
			</totals_sort>
		</sales>
	</default>
</config>