div.mw-osc-block-title,
.mw-osc-title-login{
    background-color: #337BAA;
    background-color: #337BAA;
    background-image: linear-gradient(to bottom, #4889b3, #71a3c4);
    background-image: -webkit-linear-gradient(to bottom, #4889b3, #71a3c4);
    background-image:    -moz-linear-gradient(to bottom, #4889b3, #71a3c4);
    background-image:    -ms-linear-gradient(to bottom, #4889b3, #71a3c4);
    background-image:      -o-linear-gradient(to bottom, #4889b3, #71a3c4);
}
div#fancybox-wrap #form-validate .fieldset .form-list li .input-box input#email_address:hover,
div#fancybox-wrap .col2-set .col-2 #mw-login-form fieldset .fieldset .form-list li #mw-login-password:hover,
div#fancybox-wrap .col2-set .col-2 #mw-login-form fieldset .fieldset .form-list li #mw-login-email:hover,
.mw-osc-block input.input-text:hover,
.mw-osc-block select:hover,
.mw-osc-block textarea:hover {border-color: #71a3c4; box-shadow: 0 0 3px 0 #9abed5;}

div#fancybox-wrap #form-validate .fieldset .form-list li .input-box input#email_address:focus,
div#fancybox-wrap .col2-set .col-2 #mw-login-form fieldset .fieldset .form-list li #mw-login-password:focus,
div#fancybox-wrap .col2-set .col-2 #mw-login-form fieldset .fieldset .form-list li #mw-login-email:focus,
.mw-osc-block input.input-text:focus,
.mw-osc-block select:focus,
.mw-osc-block textarea:focus { background-color: #ebf2f7; box-shadow: 0 0 3px 0 #9abed5; border-color: #71a3c4;}

.mw-osc-block .data-table thead th,
.mw-osc-block .data-table tfoot td{/*background-color: #c2d8e6*/}
.mw-osc-threecolumns button.button span{background: #337BAA; border: 1px solid #337BAA;}
.cart .discount h2{color: #337BAA;}
div#fancybox-wrap .col2-set .col-2 #mw-login-form fieldset .col-2 .buttons-set button span,
div#fancybox-wrap .col2-set .col-2 #login-form fieldset .col-2 .buttons-set button span,
div#fancybox-wrap #form-validate div.buttons-set #btforgotpass span{background: #337BAA; border: 1px solid #337BAA;}
.mw-osc-fancybox-wrap button.button span{background: #337BAA; border: 1px solid #337BAA;}
.mw-osc-giftmessagecontainer .gift-messages h3{background-color: #337BAA;}
.mw-osc-giftmessagecontainer .gift-messages-form h4{color: #337BAA;}
div.mw-osc-column-middle{{COL_MIDDLE_PAGE_LAYOUT}}
div.mw-osc-column-right{{COL_RIGHT_PAGE_LAYOUT}}
@media screen and (max-width: 420px){
    #inline2{width: 300px !important;}
}
@media screen and (max-width:320px){
    #inline2{width: 100% !important;}
}